.navbar-dark {
    background-color: rgb(119, 30, 167);
    margin-bottom: 1rem;
    min-height: 8rem;
}


.site-footer {
    background-color: rgb(119, 30, 167);
    min-height: 8rem;
}

.testimg {
    width: 200px;
    height: 200px;
}

.ballot-margin {
    margin-bottom: 3rem;
  }

.cardMask {
    border-radius: 14px; 
    max-height: 30rem;
}