.navbar-dark {
    background-color: rgb(41, 0, 88);
    margin-bottom: 1rem;
    min-height: 8rem;
}


.site-footer {
    background-color: rgb(41, 0, 88);
    min-height: 8rem;
}

.testimg {
    width: 200px;
    height: 200px;
}

.ballot-margin {
    margin-bottom: 3rem;
}

.cardMask {
    border-radius: 14px;
    max-height: 30rem;
}